<div class="container">
    <div class="row">
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">

            <div class="left">
                <div class="log-in-box">
                    <div id="log-in-column">
                        <div class="hi">
                            <p >Hi There!</p>
                        </div>

                        <div class="login-details">
                            <div class="user user-id">
                                <label for="" class="user-text">Faculty ID</label><br>
                                <input class="user-input" type="text">
                            </div>
    
                            <div class="user password">
                                <label for="" class="user-text">Password</label><br>
                                <input class="user-input-password" type="password">
                                <span class="show">
                                    <!-- <img class="eye" src="../../../src/assets/Images/Vector.png" alt=""> -->
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Show
                                </span>
                            </div>
    
                            <div class="login">
                                <button routerLink="admin-selection">Login</button>
                            </div>
                            <div class="forgot-password">
                                <p>Forgot Password?</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right">
                
            </div>

        </div>
    </div>
</div>