<div class="container">
  
    <div class="row">
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
            <div class="choose-text">
                <p>Choose Your Store</p>
            </div>
            <div class="selection">
              <a href="/store/al-shour">
                <div  class="Al-Shour shop-icon">
                    <div class="box-1">
                        <div  class="btn btn-one">
                          <span>AL SHOUR</span>
                        </div>
                      </div>
                </div>
              </a>
              <a href="/store/new-look">
                <div class="New-look shop-icon">
                    <div class="box-1">
                        <div class="btn btn-one">
                          <span>NEW LOOK</span>
                        </div>
                      </div>
                </div>
              </a>
              <a href="/store/asker">
                <div class="Asker shop-icon">
                    <div class="box-1">
                        <div class="btn btn-one">
                          <span>ASKER</span>
                        </div>
                      </div>
                </div>
              </a>

            </div>
            <div class="footer">
              <div class="log-out godown-icon">
                <i (click)="logout()" class="fa fa-power-off" aria-hidden="true"></i>
                <!-- <button (click)="logout()">logout</button> -->
              </div>
              <div *ngIf="isAdmin" routerLink="/godown" class="godown-icon">
                  <i class="fa fa-home" aria-hidden="true"></i>
              </div>
              <div class="manageUser godown-icon" >
                <i class="fa fa-user-circle " *ngIf="isAdmin" routerLink="/user-list" aria-hidden="true"></i>
                <!-- <button *ngIf="isAdmin" routerLink="/user-list">Manage User</button> -->
              </div>
            </div>
        </div>
    </div>
</div>