<div class="container">
  <div class="row">
    <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
      <div class="header">
        <div class="BackButtonHead" routerLink="/admin-selection">
          <i class="fa-solid fa-caret-left backButton"></i>
        </div>
        <div class="shop-name">Godown</div>

        <!-- <div class="search">
          <i class="fa-solid fa-magnifying-glass icon"></i>
          <input class="input-field" type="text" placeholder="Search..." />
        </div> -->

        <div class="add-filter">
          <!-- <div class="filter-div">
            <button class="filter">
              Filter
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div> -->
          <div class="Add-div">
            <button (click)="toggleAddProduct()" class="add-product">
              <i class="fa-solid fa-plus"></i>
              Add Product
            </button>
          </div>
        </div>
      </div>

      <div class="table-body">
        <table class="table">
          <thead class="table-header">
            <td>Product</td>
            <td>
              Purchase <br />
              Quantity
            </td>
            <td>
              Purchase <br />
              Date
            </td>
            <td>
              Recieved <br />
              Quantity
            </td>
            <td></td>
           
            <td>
              Purchase <br />
              Amount
            </td>
            <td>
                Recieved <br />
                Date
              </td>
            <td>
              Stock <br />
              Balance
            </td>
            <td>
              addedBy
            </td>
            <td>Action</td>
          </thead>
          <br />
          <tr *ngIf="isAddProduct" class="table-contents-primary">
            <td>
              <input
                type="text"
                placeholder="product"
                name="product"
                [(ngModel)]="product"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="purchase quantity"
                name="purchaseQuantity"
                [(ngModel)]="purchaseQuantity"
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="purchase date"
                name="purchaseDate"
                [(ngModel)]="purchaseDate"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="Recieved quantity"
                name="recievedQuantity"
                [(ngModel)]="recievedQuantity"
              />
            </td>
            <td class="balance-red"></td>
           
            <td>
              <input
                type="number"
                placeholder="purchase amount"
                name="purchaseAmount"
                [(ngModel)]="purchaseAmount"
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="recieved date"
                name="recievedDate"
                [(ngModel)]="recievedDate"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="stock balance"
                name="stockBalance"
                [(ngModel)]="stockBalance"
              />
            </td>
            <td class="action">
              <i
                (click)="addProduct()"
                class="fa-regular fa-plus"
                style="color: var(--voilet)"
              ></i>
            </td>
          </tr>
          <tr *ngIf="isProductEdit" class="table-contents-primary">
            <td>
              <input
                type="text"
                placeholder="product"
                name="product"
                [(ngModel)]="editProductName"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="purchase quantity"
                name="purchaseQuantity"
                [(ngModel)]="editPurchaseQuantity"
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="purchase date"
                name="purchaseDate"
                [(ngModel)]="editPurchaseDate"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="Recieved quantity"
                name="recievedQuantity"
                [(ngModel)]="editRecievedQuantity"
              />
            </td>
            <td class="balance-red"></td>
            <td>
              <input
                type="text"
                placeholder="recieved date"
                name="recievedDate"
                [(ngModel)]="editRecievedDate"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="purchase amount"
                name="purchaseAmount"
                [(ngModel)]="editPurchaseAmount"
              />
            </td>
            <td>
              <input
                type="number"
                placeholder="stock balance"
                name="stockBalance"
                [(ngModel)]="editStockBalance"
              />
            </td>
            <td class="action">
              <i
                (click)="editProduct()"
                class="fa-regular fa-plus"
                style="color: var(--voilet)"
              ></i>
            </td>
          </tr>

          <tr *ngFor="let product of products" class="table-contents-secondary">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.purchasedDate }}</td>
            <td>{{ product.recievedQuantity }}</td>
            <td
              class=""
              [ngClass]="[
                product.additionalNumber < 0 ? 'balance-red' : 'balance-green'
              ]"
            >
              {{ product.additionalNumber }}
            </td>
            <td>{{ product.price }}</td>
            <td>{{ product.recievedDate }}</td>
            <td>{{ product.stockBalance }}</td>
            <td>{{ product.personName }}</td>
            <td class="action">
              <i
                (click)="setEditProduct(product)"
                class="fa-regular fa-pen-to-square edit"
                style="color: var(--voilet)"
              ></i>
              <i
                (click)="deleteProduct(product._id)"
                class="fa-solid fa-trash delete"
                style="color: var(--delete)"
              ></i>
            </td>
          </tr>
        </table>
      </div>

      <div class="total-balance-footer">
        <table>
          <tr>
            <td class="total">Balance</td>
            <td>
              <tr class="balance-green balance-number">
                2500
              </tr>
              <tr class="balance-red balance-number">
                5
              </tr>
            </td>
          </tr>
          <tr>
            <td class="total">Total</td>
            <td class="balance-green balance-number">2495</td>
          </tr>
        </table>
      </div>
      <!-- <div class="footer">
        <div class=""></div>
        <div class="footer-center">
          <div class="next">Previous</div>
          <div class="footer-numbers">
            <button>1</button>
          </div>
          <div class="footer-numbers">
            <button>2</button>
          </div>
          <div class="footer-numbers">
            <button>3</button>
          </div>
          <div class="next">Next</div>
        </div>
        <div class="footer-end">
          <div class="per-page">8 Product per page</div>
        </div>
      </div> -->
    </div>
  </div>
</div>
