<div class="container">
  <div class="header">
    <div class="BackButtonHead" routerLink="/admin-selection">
      <i class="fa-solid fa-caret-left backButton"></i>
    </div>
  </div>
  <div class="row">
    <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
      <div class="left">
        <div class="log-in-box">
          <div id="log-in-column">
            <div class="hi">
              <p>Change Password</p>
            </div>
            <div class="login-details">
              <div class="user user-id">
                <label for="" class="user-text">Username</label><br />
                <input
                  class="user-input"
                  type="text"
                  name="username"
                  id="username"
                  placeholder=""
                  [(ngModel)]="username"
                />
              </div>

              <div class="login" *ngIf="!toggle">
                <button (click)="verifyUserName()">Verify Username</button>
              </div>
              <div *ngIf="toggle">

                  <div class="user password">
                    <label for="" class="user-text">Current Password</label><br />
                    <input
                      class="user-input-password"
                      type="password"
                      name="password"
                      placeholder=""
                      id="password"
                      [(ngModel)]="oldPassword"
                    />
                    <span (click)="toggleVisiblity()" class="show">
                      <!-- <img class="eye" src="../../../src/assets/Images/Vector.png" alt=""> -->
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      Show
                    </span>
                  </div>
    
                  <div class="user password">
                    <label for="" class="user-text">New Password</label><br />
                    <input
                      class="user-input-password"
                      type="text"
                      name=""
                      placeholder="new Password"
                      id="password"
                      [(ngModel)]="newPassword"
                    />
                    <span (click)="toggleVisiblity()" class="show">
                      <!-- <img class="eye" src="../../../src/assets/Images/Vector.png" alt=""> -->
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      Show
                    </span>
                  </div>
    
                  <div class="login">
                    <button (click)="updatePassword()">Update</button>
                  </div>
              </div>
              <!-- <div class="forgot-password">
                                <p routerLink="/change-password">Change Password?</p>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>
</div>
