<div class="container">
    <div class="row">
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
            <div class="choose-text">
                <p>Choose Your Store</p>
            </div>
            <div class="selection">
                <div class="Al-Shour shop-icon">
                    <div class="box-1">
                        <div class="btn btn-one">
                          <span>AL SHOUR</span>
                        </div>
                      </div>
                </div>
                <div class="New-look shop-icon">
                    <div class="box-1">
                        <div class="btn btn-one">
                          <span>NEW LOOK</span>
                        </div>
                      </div>
                </div>
                <div class="Asker shop-icon">
                    <div class="box-1">
                        <div class="btn btn-one">
                          <span>ASKER</span>
                        </div>
                      </div>
                </div>

            </div>
            
        </div>
    </div>
</div>