<div class="container">
    <div class="row">
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
            <div class="header">
                <div class="shop-name">
                    Al Shour
                </div>
                
                <!-- <div class="search">

                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input class="input-field" type="text" placeholder="Search...">

                </div> -->

                <div class="add-filter">
                    <!-- <div class="filter-div">
                        <button class="filter">
                            Filter
                            <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    </div> -->
                    <div (click)="toggleAddProduct()" class="Add-div">
                        <button class="add-product">
                            <i class="fa-solid fa-plus"></i>
                            {{isAddProduct ? 'Close' : 'Add Product'}}
                        </button>
                    </div>

                </div>
            </div>

            <div class="table-body">
                <table class="table">
                    <thead class="table-header">
                        <td>Product</td>
                        <td>Shop Intake</td>
                        <td>Selling Price</td>
                        <td>Stock Balance</td>
                        <td>Monthly Sales</td>
                        <td>changedBy</td>
                        <td *ngIf="isAdmin"> Action</td>
                    </thead>
<br>

                    <tr *ngIf="isAddProduct" class="table-contents-primary">
                        <td><input type="text" placeholder="product" name="product" [(ngModel)]="product"></td>
                        <td><input type="number" placeholder="shop intake" name="intake" [(ngModel)]="intake"></td>
                        <td><input type="number" placeholder="selling price" name="sellingPrice" [(ngModel)]="sellingPrice"></td>
                        <td><input type="number" placeholder="stock balance" name="stockBalance"  [(ngModel)]="stockBalance"></td>
                        <td><input type="number" placeholder="Monthly sales" name="monthlySales"  [(ngModel)]="monthlySales"></td>
                        <td class="action">
                            <i class="fa-regular fa-plus" (click)="addProduct()" style="color: var(--voilet);"></i>
                            
                        </td>
                    </tr>
                    <tr *ngIf="isProductEdit" class="table-contents-primary">
                        <td><input type="text" placeholder="product" name="editProduct" [(ngModel)]="editProductName"></td>
                        <td><input type="number" placeholder="shop intake" name="editIntake" [(ngModel)]="editIntake"></td>
                        <td><input type="number" placeholder="selling price" name="editSellingPrice" [(ngModel)]="editSellingPrice"></td>
                        <td><input type="number" placeholder="stock balance" name="editStockBalance"  [(ngModel)]="editStockBalance"></td>
                        <td><input type="number" placeholder="Monthly sales" name="editMonthlySales"  [(ngModel)]="editMonthlySales"></td>
                        <td class="action">
                            <i class="fa-regular fa-plus" (click)="editProduct()" style="color: var(--voilet);"></i>
                            
                        </td>
                    </tr>
                    <tr *ngFor="let product of products" class="table-contents-primary">
                        <td>{{product.name}}</td>
                        <td>{{product.shopIntake}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.stockBalance}}</td>
                        <td>{{product.monthlySales}}</td>
                        <td>{{product.personName}}</td>
                        <td class="action">
                            <i *ngIf="isAdmin" (click)="setEditProduct(product)" class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i *ngIf="isAdmin" (click)="deleteProduct(product._id)" class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <!-- <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr> -->
                </table>
            </div>

            <!-- <div class="footer">
                <div class=""></div>
                <div class="footer-center">
                    <div class="next">Previous</div>
                    <div class="footer-numbers">
                        <button>1</button>
                    </div>
                    <div class="footer-numbers">
                        <button>2</button>
                    </div>
                    <div class="footer-numbers">
                        <button>3</button>
                    </div>
                    <div class="next">Next</div>
                </div>
                <div class="footer-end">
                    <div class="per-page">10 Product per page</div>
                </div>
            </div> -->
        </div>
    </div>
</div>