<div class="container">
    <div class="row">
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
            <div class="header">
                <div class="shop-name">
                    Al Shour
                </div>
                
                <div class="search">

                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input class="input-field" type="text" placeholder="Search...">

                </div>

                <div class="add-filter">
                    <div class="filter-div">
                        <button class="filter">
                            Filter
                            <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    </div>
                    <div class="Add-div">
                        <button class="add-product">
                            <i class="fa-solid fa-plus"></i>
                            Add Product
                        </button>
                    </div>

                </div>
            </div>

            <div class="table-body">
                <table class="table">
                    <thead class="table-header">
                        <td>Product</td>
                        <td>Shop Intake</td>
                        <td>Selling Price</td>
                        <td>Stock Balance</td>
                        <td>Monthly Sales</td>
                        <td>Action</td>
                    </thead>
<br>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-primary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>

                    <tr class="table-contents-secondary">
                        <td>Jeans</td>
                        <td>1000</td>
                        <td>4,50,000</td>
                        <td>10</td>
                        <td>990</td>
                        <td class="action">
                            <i class="fa-regular fa-pen-to-square edit" style="color: var(--voilet);"></i>
                            <i class="fa-solid fa-trash delete" style="color: var(--delete);"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="footer">
                <div class=""></div>
                <div class="footer-center">
                    <div class="next">Previous</div>
                    <div class="footer-numbers">
                        <button>1</button>
                    </div>
                    <div class="footer-numbers">
                        <button>2</button>
                    </div>
                    <div class="footer-numbers">
                        <button>3</button>
                    </div>
                    <div class="next">Next</div>
                </div>
                <div class="footer-end">
                    <div class="per-page">10 Product per page</div>
                </div>
            </div>
        </div>
    </div>
</div>