<div class="container">
    
    <!-- <button routerLink="/change-password" >Change Password</button> -->
    <div class="row">
        
        <div class="main col col-xxl-12 col-xl-6 col-lg-4 col-md-2 col-sm-1">
            <div class="BackButtonHead" routerLink="/admin-selection">
                <i class="fa-solid fa-caret-left backButton"></i>
              </div>
            <div class="left">
                <div class="log-in-box">
                    <div id="log-in-column">
                        <div class="hi">
                            <p >Add User</p>
                        </div> 
                        <div class="login-details">
                        <div class="user user-id">
                            <label for="" class="user-text">Username</label><br>
                            <input class="user-input" type="text" name="username " placeholder="" [(ngModel)]="username">
                        </div>
                        <div class="user password">
                            <label for="" class="user-text">Password</label><br>
                            <input class="user-input-password" type="password" name="password" placeholder="" id="password" [(ngModel)]="password">
                            <span (click)="toggleVisiblity()" class="show">
                                <!-- <img class="eye" src="../../../src/assets/Images/Vector.png" alt=""> -->
                                <i  class="fa fa-eye" aria-hidden="true"></i>
                                Show
                            </span>
                        </div>
                        <div class="login">
                            <button (click)="addUser()">Submit</button>
                        </div>
                        <div class="forgot-password">
                            <p routerLink="/change-password">Change Password?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="userlist-in-box">
                <div class="user-list-column">
                    <div class="user-column" *ngFor="let user of users" [ngClass]="[isAdmincheck(user.username) ? 'admin-color':'user-color']">
                            <span class="user-list-user-name" >{{user.username}}</span>
                            <span class="user-list-delete" (click)="deleteUser(user.id)" >
                                <i class="fa-solid fa-trash" style="color: #fff;"></i>
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
        


    <!-- <ul>
        <li *ngFor="let user of users">
            {{user.username}}
            <button (click)="deleteUser(user.id)">
                delete
            </button>
        </li>
    </ul> -->

    
